<div class="table-container">
    <div class="table-header">
        Имя таблицы
    </div>
    <div class="table-body">
        <table class="main-table">
            <thead>
            <tr>
                <td>Наименование</td>
                <td>Дата последней проверки</td>
                <td>Место хранения</td>
                <td>QR</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Компьютер</td>
                <td>26.06.2001</td>
                <td>140</td>
                <td>link</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>Компьютер 2</td>
                <td>27.07.2001</td>
                <td>140</td>
                <td>link</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>Компьютер 3</td>
                <td>28.08.2001</td>
                <td>140</td>
                <td>link</td>
                <td>Edit</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>