<aside class="aside__main">
    <a class="main-logo" href="/">
        <img src="/img/logo.png" alt="">
        EquipWar
    </a>
    <ul class="menu_group">
            <span class="menu_element" href="/" onclick="group_click(this)">
                <span class="icons">&#xe800;</span>
                Профиль
            </span>

        <li><a class="menu_element" href="/user/settings">
                <span class="icons">&#xe808;</span>
                Настройки
            </a></li>
        <li><a class="menu_element" href="/logout">
                <span class="icons">&#xe803;</span>
                Выход
            </a></li>
    </ul>
    <a class="menu_element" href="/user/userlist">
        <span class="icons">&#xe802;</span>
        Список пользователей
    </a>
    <a class="menu_element" href="/">
        <span class="icons">&#xe802;</span>
        Предметы
    </a>
    <a class="menu_element" href="/mail">
        <span class="icons">&#xe80c;</span>
        Рассылка
    </a>
    <a class="menu_element" onclick="notificationOnClick()">
        <span class="icons">&#xe80c;</span>
        Проверить уведомления
    </a>
</aside>