<footer>
    <span>&copy; 2022, made by&nbsp;<a href="https://t.me/goodbroch" target="_blank">Goodbroch</a></span>
</footer>
<script src="/js/index.js"></script>
<script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
<script src="/js/notifications.js"></script>