<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Свалка ИС</title>
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/inputs.css">
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(88820180, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/88820180" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <script>window.yaContextCb=window.yaContextCb||[]</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
</head>
<body>
  <main>
      <div class="main-header">Login</div>
  <form action="/login" method="post" class="main-form">
      <div>
          <span class="icon-container">&#xe800;</span>
          <label for="username">
              <input name="username" id="username" placeholder="почта" type="email" class="beaut-input">
          </label>
      </div>
      <div>
          <span class="icon-container">&#xe801;</span>
          <label for="password">
              <input name="password" id="password" placeholder="пароль" type="password" class="beaut-input">
          </label>
      </div>
      <button class="beaut-button">Войти</button>
  </form>
      <div id="yandex_rtb_R-A-1678925-1"></div>
      <script>window.yaContextCb.push(()=>{
          Ya.Context.AdvManager.render({
            renderTo: 'yandex_rtb_R-A-1678925-1',
            blockId: 'R-A-1678925-1'
          })
        })</script>
  </main>
  <footer>
    Create by goodbroch
  </footer>
</body>
</html>