<!DOCTYPE html>
<html lang="ru">
<% title = 'Склад ИС'; links=['/css/table.css']%>
<%- include('../templates/head');%>
<body>
<%- include('../templates/aside')%>
<div class="workspace">
    <%- include('../templates/nav')%>
    <main>
        Sorry :(, Cannot find this path :(
    </main>
    <%- include('../templates/footer')%>
</div>
<script src="/js/ham.js"></script>
</body>
</html>